@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.fab {
  font-family: FontAwesome;
  font-style: initial;
}

.v-card {
  border-radius: 24px;
  box-shadow: 0 1px 20px 0 #1a237e14;
  padding: 12px;
}

.v-footer {
  width: 100%;
  padding: 0;
}

.v-footer .v-card {
  border-radius: 0;
}

::-webkit-scrollbar {
  display: none;
}

.v-divider {
  flex: initial;
}
